.form {
  display: inline-flex;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}
.input {
  margin-top: 5px;
  display: block;
  width: 80%;
  height: 25px;
  margin-bottom: 20px;
}

.input:focus {
  outline-color: rgb(68, 24, 109);
}

.button {
  display: block;
  min-width: 100px;
  padding: 5px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(115, 47, 117);
  color: #ffffff;
  outline: none;
  cursor: pointer;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.button:hover {
  opacity: 1;
  background-color: rgba(50, 50, 251, 0.719);
  border: 1px solid rgba(45, 45, 231, 0.596);
}
